<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="urdf_path" default="$(find mobileman_simulation)/urdf/mobileman_gazebo.xacro"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <!-- load robot description -->
  <param name="robot_description" command="xacro '$(find mobileman_simulation)/urdf/mobileman_gazebo.xacro'" />
  <arg name="x" default="0" />
  <arg name="y" default="1" />
  <arg name="z" default="0.42" />
  <arg name="yaw" default="0.0" />
  <arg name="robotname" default="spawn_mobileman" />

  <node name="$(arg robotname)" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw) -param robot_description -urdf -model c5" output="screen" />

  <include file="$(find prototype2_moveit_config)/launch/ros_controllers.launch"/>

</launch>
