<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find prototype2_moveit_config)/config/ros_controllers.yaml" command="load"/>

  <rosparam file="$(find mobileman_simulation)/config/differential_drive_controller.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="photoneo_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller photoneo_3d_scanner_controller "/>

  <node name="diff_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"  output="screen" 
    args="mobile_base_controller"/>

</launch>
