<?xml version="1.0" ?>
<robot name="prototype2" xmlns:xacro="https://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find mobileman_simulation)/urdf/wheel.xacro"/>
  <!--use simulation-->
  <xacro:property name="isSimulation" value="true"/>
  <!--baselink name-->
  <xacro:property name="base_link" value="base_link"/>
  <!--robot name-->
  <xacro:property name="robot_name" value="/prototype2"/>

  <!--Robot Chassis-->
  <xacro:include filename="$(find mobileman_simulation)/urdf/base_footprint.xacro"/>

  <xacro:include filename="$(find mobileman_simulation)/urdf/chassis.xacro"/>

  <!-- dumylink for robot chasis inertial -->
  <xacro:include filename="$(find mobileman_simulation)/urdf/parts/dummy_link.xacro"/>
  <!--Wheels-->
  <xacro:link_wheel name="front_left" radius="0.2155"/>
  <xacro:joint_wheel name="front_left" origin_xyz="0 0.257 -0.0"/>

  <xacro:link_wheel name="front_right" radius="0.2155"/>
  <xacro:joint_wheel name="front_right" origin_xyz="0 -0.257 -0.0"/>

  <xacro:link_wheel name="rear_left" radius="0.131"/>
  <xacro:joint_wheel name="rear_left" origin_xyz="-0.547 0.257 -0.0845"/>

  <xacro:link_wheel name="rear_right" radius="0.131"/>
  <xacro:joint_wheel name="rear_right" origin_xyz="-0.547 -0.257 -0.0845"/>

  <!--fork_lift-->
  <xacro:include filename="$(find mobileman_simulation)/urdf/fork_lift.xacro"/>

  <!--IMU-->
  <xacro:include filename="$(find mobileman_simulation)/urdf/imu.xacro"/>

  <!--Laser Scanner-->
  <xacro:include filename="$(find mobileman_simulation)/urdf/hokuyo.xacro"/>

  <!-- differetial driver controller -->
  <xacro:if value="${isSimulation}">
<!--    either differtial_drive_controller should be used or the transmission should be used. -->
 <xacro:include filename="$(find mobileman_simulation)/urdf/differential_drive_controller.xacro"/>
    <!-- <transmission name="left_wheel">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="front_left_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="left_motor">
        <mechanicalReduction>50</mechanicalReduction>
      </actuator>

    </transmission>
    <transmission name="right_wheel">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="front_right_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="right_motor">
        <mechanicalReduction>50</mechanicalReduction>
      </actuator>
    </transmission> -->
    <!--ros control plugin-->
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>${robot_name}</robotNamespace>
      </plugin>
    </gazebo>
  </xacro:if>

</robot>
