<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
    <material name="blue">
        <color rgba="0 0 0.8 1"/>
    </material>
    <material name="red">
        <color rgba="0.8 0 0 1"/>
    </material>
    <material name="green">
        <color rgba="0 0.8 0 1"/>
    </material>
    <xacro:macro name="chassis" params="length width height">
        <link name="base_link">
<!--            ignoring inertial for rviz model-->
<!--            <inertial>-->
<!--                -->
<!--            </inertial>-->
            <!--        adding visual result-->
            <visual name="chassis_visual">
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <box size="${length} ${width} ${height}"/>
                </geometry>
                <material name="blue"/>
            </visual>
        </link>


<!--        adding wheels-->

    </xacro:macro>
</robot>