<?xml version="1.0" encoding="UTF-8" ?>
<!--this xacro file is for the new base design-->
<robot name="prototype2" xmlns:xacro="https://www.ros.org/wiki/xacro">
<!--    xacro file defining the chasis-->
    <xacro:include filename="$(find mobileman_navigation)/urdf/chassis_flexible.xacro"/>
<!--    defining the parameters of the robot -->
    <xacro:property name="robot_name" value="prototype2"/>
    <xacro:property name="length" value="1.0"/>
    <xacro:property name="width" value="1.0"/>


    <!--adding the base system-->
    <xacro:chassis length="${length}" width="0.56" height="0.45"/>

    <!--    adding wheels-->
    <xacro:include filename="$(find mobileman_navigation)/urdf/wheels.xacro"/>

    <xacro:link_wheel name="front_left" radius="0.2155"/>
    <xacro:joint_wheel name="front_left" origin_xyz="0 0.257 -0.0"/>

    <xacro:link_wheel name="front_right" radius="0.2155"/>
    <xacro:joint_wheel name="front_right" origin_xyz="0 -0.257 -0.0"/>

    <xacro:link_wheel name="rear_left" radius="0.131"/>
    <xacro:joint_wheel name="rear_left" origin_xyz="-0.547 0.257 -0.0845"/>

    <xacro:link_wheel name="rear_right" radius="0.131"/>
    <xacro:joint_wheel name="rear_right" origin_xyz="-0.547 -0.257 -0.0845"/>


</robot>