<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node" output="screen">
        <rosparam file="$(find mobileman_navigation)/config/robot_localization/ekf_localization_node.yaml" command="load"></rosparam>

    </node>


</launch>