<?xml version="1.0" encoding="utf-8"?>
<launch>


    
  <include file="$(find mobileman_launch)/launch/cartographer.launch">
     <!-- <arg name="scan_topic" value="$(arg scan_topic)">
     <arg name="imu_topic" value="$(arg imu_topic)"/>
     <arg name="odom_topic" value="$(arg odom_topic)"/> -->
       <arg name="scan_topic" value="/gazebo/scan"/>
  <arg name="imu_topic" value="/gazebo/imu/data"/>
  <arg name="odom_topic" value="/prototype2/mobile_base_controller/odom"/>
  </include>

</launch>