<?xml version="1.0" encoding="utf-8"?>
<!--this files launch the command velocity mux node to set the priority of the velocity command-->
<launch>
<arg name="output_topic" default="/prototype2/cmd_vel" />


  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>

  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet nodelet_manager">
    <param name="yaml_cfg_file" value="$(find mobileman_navigation)/config/cmd_vel_mux.yaml"/>
    <remap from="/cmd_vel_mux/cmd_line/cmd_vel" to="/cmd_line/cmd_vel"/>
    <remap from="/cmd_vel_mux/joy/cmd_vel" to="/joy/cmd_vel"/>
    <remap from="/cmd_vel_mux/prototype2/cmd_vel" to="$(arg output_topic)"/>
  </node>

</launch>