<launch>
    <!--  this file launchs the rviz enviroment with a robot model-->
    <arg
            name="model"/>
    <param
            name="robot_description"
            command="$(find xacro)/xacro $(find mobileman_simulation)/urdf/mobileman_gazebo.xacro"/>

    <!-- <node
            name="joint_state_publisher_gui"
            pkg="joint_state_publisher_gui"
            type="joint_state_publisher_gui"/> -->
            <node
            name="joint_state_publisher"
            pkg="joint_state_publisher"
            type="joint_state_publisher">
             <!-- <rosparam param="source_list">["prototype2/joint_states"]</rosparam> -->
             </node>
    <node
      name="robot_state_publisher"
      pkg="robot_state_publisher"
      type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" required="true"
          args="-d $(find mobileman_navigation)/config/demo_2d.rviz"/>
</launch>
