<!--fork lift controller  -->
<launch>

  <rosparam file="$(find mobileman_simulation)/config/fork_lift_control.yaml" command="load" />
  <node name="robot_controller" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="c5" args="joint_state_controller fork_rotational_joint_controller fork_linear_joint_controller mobile_base_controller">
    <remap to="/prototype2/mobile_base_controller/cmd_vel" from="/cmd_vel" />
    <remap from="/prototype2/mobile_base_controller/odom" to="/odom" />
  </node>

  <!--  base controller-->
  <!-- <rosparam file="$(find mobileman_simulation)/config/differential_drive_controller.yaml" command="load" />
  <node 
    name="mobileman_base_controller"
    pkg="controller_manager"
    type="spawner"
    respawn="false" output="screen" ns="prototype2" args="mobile_base_controller"
  /> -->

</launch>