<?xml version="1.0"?>

<!--this file launch the navigation node use cartographer and move base for mobileman -->
<launch>

  <arg name="use_map_topic" default="true"/>
  <arg name="scan_topic" default="scan" />
  <arg name="mode" default="mapping"/>
  <arg name="laser_frame" default="/hokuyo_link"/>
  <arg name="isSimulation" default="false"/>
  <arg name="use_amcl" default="false"/>
  <node pkg="amcl" type="amcl" name="amcl">
    <param name="use_map_topic" value="$(arg use_map_topic)"/>
    <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="odom_model_type" value="diff"/>
    <param name="odom_alpha5" value="0.1"/>
    <param name="gui_publish_rate" value="10.0"/>
    <param name="laser_max_beams" value="60"/>
    <param name="laser_max_range" value="12.0"/>
    <param name="min_particles" value="500"/>
    <param name="max_particles" value="2000"/>
    <param name="kld_err" value="0.05"/>
    <param name="kld_z" value="0.99"/>
    <param name="odom_alpha1" value="0.2"/>
    <param name="odom_alpha2" value="0.2"/>
    <!-- translation std dev, m -->
    <param name="odom_alpha3" value="0.2"/>
    <param name="odom_alpha4" value="0.2"/>
    <param name="laser_z_hit" value="0.5"/>
    <param name="laser_z_short" value="0.05"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.5"/>
    <param name="laser_sigma_hit" value="0.2"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <!-- <param name="laser_model_type" value="beam"/> -->
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="update_min_d" value="0.25"/>
    <param name="update_min_a" value="0.2"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="resample_interval" value="1"/>
    <!-- Increase tolerance because the computer can get quite busy -->
    <param name="transform_tolerance" value="1.0"/>
    <param name="recovery_alpha_slow" value="0.0"/>
    <param name="recovery_alpha_fast" value="0.0"/>
    <remap from="/laser/scan" to="$(arg scan_topic)"/>    
    <remap from="tf" to="amcl_tf"/>
  </node>
  <!-- </group> -->
  
<!-- cartographer -->
  <!--    do the following for mapping mode-->
    <group if="$(eval mode== 'mapping')">
            <remap from="$(arg scan_topic)" to="horizontal_laser_2d"/>
        <remap from="/scan" to="$(arg scan_topic)"/>
        <remap from="/imu" to="/imu/data"/>
    <node name="cartographer_node" pkg="cartographer_ros"
          type="cartographer_node" args="
          -configuration_directory $(find mobileman_navigation)/config
                   -configuration_basename mobileman.lua"
          output="screen">
    </node>
    </group>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
  
  <!--- Run Move_Base -->
  <group if="$(arg isSimulation)">
    <include file="$(find mobileman_navigation)/launch/mobileman_movebase.launch" >
      <arg name="cmd_vel_name" value="/prototype2/mobile_base_controller/cmd_vel"/>
    </include>
  </group>
<!-- not in simulation environment-->
  <group unless="$(arg isSimulation)">
    <include file="$(find mobileman_navigation)/launch/mobileman_movebase.launch" >
      <arg name="cmd_vel_name" value="/cmd_vel"/>
    </include>
    <include file="$(find mobileman_navigation)/launch/robot_localization.launch">

    </include>
  </group>


</launch>