<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<link
    name="chassis_dummy">
    <inertial>
      <origin
        xyz="-0.22833 -0.0010016 0.042759"
        rpy="0 0 0" />
      <mass
        value="180" />
      <inertia
        ixx="0.65386"
        ixy="4.200"
        ixz="2.0031"
        iyy="1.3175"
        iyz="1.5"
        izz="1.4532" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
       <box size ="0.01 0.01  0.01" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>

  </link>
  <joint name="initial_dumy" type="fixed">
  <origin rpy="0 0 0" xyz="0 0 0"/>
  <child link="chassis_dummy"/>
  <parent link="${base_link}"/>
  </joint>
</robot>