<?xml version="1.0" encoding="UTF-8" ?>

<!--This file servers as the on startup launch file for navigation, it launches the imu and laser scanner in the pc inside the robot-->
<!--This file should be run inside the pc in the robot-->

<launch>

    <param
            name="robot_description"
            command="$(find xacro)/xacro $(find mobileman_simulation)/urdf/mobileman_gazebo.xacro"/>
    <!--    launching IMU-->
    <node name="xsens_mti_node" pkg="xsens_mti_driver" type="xsens_mti_node" output="screen">
        <rosparam>
            frame_id: "imu_link"
            publisher_queue_size: 3
            pub_imu: true
            pub_quaternion: true
            pub_mag: true
            pub_angular_velocity: true
            pub_acceleration: true
            pub_free_acceleration: true
            pub_dq: true
            pub_dv: true
            pub_sampletime: true
            pub_temperature: true
            pub_pressure: true
            pub_gnss: true
            pub_twist: true
            pub_transform: true
            pub_positionLLA: true
            pub_velocity: true
            publish_tf: false
        </rosparam>
    </node>
    <!--    Launching hokuyo laser scanner-->
    <node pkg="urg_node" type="urg_node" name="laser_scan_node">
        <rosparam>
            ip_address: "192.168.10.201"
            frame_id: "hokuyo_link"
        </rosparam>
    </node>

    <!--TODO lauching camera or other equipments-->

<!--    joystick control-->
  <!--this part is the control part of the robot-->
    <node name="joy_stick_control" pkg="joy" type="joy_node" args="_coalesce_interval:=0.05 _autorepeat_rate:=12 _deadzone:=0.05" >
    </node>
    <node name="joybasecontrol" pkg="pythonnodes" type="joybasetranslate.py"/>
    <node name="base_control_nodejs" pkg="rosnodejs_examples" type="JC_base_control.js"/>
    <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyACM0"/>
    </node>

    <!-- add command vel mux to bringup  -->
    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>

    <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet nodelet_manager">
        <param name="yaml_cfg_file" value="$(find mobileman_navigation)/config/cmd_vel_mux.yaml"/>
        <remap from="/cmd_vel_mux/cmd_line/cmd_vel" to="/cmd_line/cmd_vel"/>
        <remap from="/cmd_vel_mux/move_base/cmd_vel" to="/move_base/cmd_vel"/>
        <remap from="/cmd_vel_mux/joy/cmd_vel" to="/joy/cmd_vel"/>
        <remap from="/cmd_vel_mux/web/cmd_vel" to="/web/cmd_vel"/>
        <remap from="/cmd_vel_mux/prototype2/cmd_vel" to="/prototype2/cmd_vel"/>
    </node>
    <!--TODO lauching robot controller-->

<!--    To launch tf trnaformations-->
    <node
            name="joint_state_publisher"
            pkg="joint_state_publisher"
            type="joint_state_publisher">
        <!-- <rosparam param="source_list">["prototype2/joint_states"]</rosparam> -->
    </node>
    <node
            name="robot_state_publisher"
            pkg="robot_state_publisher"
            type="robot_state_publisher" />

<!--    robot pose ekf, to calculate the odometry of the robot-->
<!--    to be tested seperately-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node" output="screen">
        <rosparam file="$(find mobileman_navigation)/config/robot_localization/ekf_localization_node.yaml"
                  command="load"/>
        <rosparam>
            frequency: 30
            sensor_timeout: 10
            two_d_mode: true
            map_frame: "/map"
            odom_frame: "/odom"
            base_link_frame: "/base_link"
            # base_link_frame: "/base_link"
            world_frame: "/odom"  #odom
            base_link_output_frame: "/base_footprint" #footprint
            # base_link_output_frame: "/base_link" #footprint

            # publishing transformation
            publish_tf: true

            transform_time_offset: 0.2
            transform_timeout: 0.3

            imu0: "/imu/data"
            odom0_relative: true
            imu0_relative: true
            imu0_queue_size: 4
            imu0_remove_gravitational_acceleration: true

            odom0: "/odom_raw"
            odom0_config: [true, true, false,
            false, false, true,
            true, false, false,
            false, false, true,
            false, false, false]

            "imu0_config": [false, false, false,
            false, false, true,
            false, false, false,
            false, false, true,
            true, false, false]

            print_diagnostics: true

        </rosparam>
    </node>

<!--    add cartographer -->
<!--    add move_base-->

    <!-- launching TF transformation -->
<!--    <node name="tf_laser" pkg="tf" type="static_transform_publisher" args="0 0 0.40 0 0 0 /base_link /base_laser 20"/>-->
<!--    <node name="tf_imu" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /base_link /imu_link 20"/>-->


</launch>
