<?xml version= "1.0" ?>
<!--this file launch the simulation environment for mobileman-->
<!--in simulation mode, fused odometry is not needed as gazebo is publishing an accurate odometry-->
<launch>
    <arg name="mode" default="test"/>
    <arg name="isSimulation" value="true"/>
    <arg name="scan_topic" default="/gazebo/scan"/>
  <arg name="imu_topic" default="/gazebo/imu/data"/>
    <!--    load gazebo file for simulation-->
    <!--    TODO current using agriculture world, check my own world launch file-->
    <include file="$(find mobileman_simulation)/launch/gazebo.launch">
        <!-- <arg name="world_used" value="~/.gazebo/worlds/agriculture.world"/> -->
    </include>

    <!--    spawn a robot in the simulation world-->
    <include file="$(find mobileman_simulation)/launch/spawn_mobileman.launch"/>


    <!-- include display launch -->

    <include file="$(find mobileman_simulation)/launch/display.launch"/>

    <!-- launch navigation node -->
    <include file="$(find mobileman_navigation)/launch/mobileman_navigation.launch"/>

    <!--    do the following for mapping mode-->
    <!--<group if="$(eval mode== 'mapping')">
        <remap from="$(arg laser_frame)" to="horizontal_laser_2d"/>
        <remap from="/imu" to="/imu/data"/>
        <node name="cartographer_node" pkg="cartographer_ros"
              type="cartographer_node" args="
          -configuration_directory $(find mobileman_navigation)/config
                   -configuration_basename mobileman.lua"
              output="screen">
        </node>
    </group>-->

  <remap from="$(arg scan_topic)" to="horizontal_laser_2d"/>
  <remap from="$(arg imu_topic)" to="/imu/data"/>
  <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
          -configuration_directory $(find mobileman_simulation)/config
                   -configuration_basename mobileman.lua"
        output="screen">
  </node>

  <!--move base-->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="/scan" to="/laser/scan"/>
    <remap from="/cmd_vel" to="$(arg cmd_vel_name)"/>
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>
    <rosparam file="$(find mobileman_navigation)/config/move_base/planner.yaml" command="load"/>

    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(find mobileman_navigation)/config/move_base/costmap_common.yaml" command="load"
              ns="global_costmap"/>
    <rosparam file="$(find mobileman_navigation)/config/move_base/costmap_common.yaml" command="load"
              ns="local_costmap"/>

    <!-- local costmap, needs size -->
    <rosparam file="$(find mobileman_navigation)/config/move_base/costmap_local.yaml" command="load"
              ns="local_costmap"/>
    <param name="local_costmap/width" value="10.0"/>
    <param name="local_costmap/height" value="10.0"/>

    <!-- static global costmap, static map provides size -->
    <rosparam file="$(find mobileman_navigation)/config/move_base/costmap_global_static.yaml" command="load"
              ns="global_costmap" unless="$(arg no_static_map)"/>

    <!-- global costmap with laser, for odom_navigation_demo -->
    <rosparam file="$(find mobileman_navigation)/config/move_base/costmap_global_laser.yaml" command="load"
              ns="global_costmap" if="$(arg no_static_map)"/>
    <param name="global_costmap/width" value="100.0" if="$(arg no_static_map)"/>
    <param name="global_costmap/height" value="100.0" if="$(arg no_static_map)"/>
  </node>

</launch>