<launch>
<!--    this file launchs static tf broadcast between sensors and robot base-->
<arg name="useDummyLink" default="false"/>
<!--    <node name="tf_laser" pkg="tf" type="static_transform_publisher" args="0 0 0.40 0 0 0 /base_link /base_laser 10"/>-->
<!--    <node name="tf_imu" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /base_link /base_imu 10"/>-->
    <!-- <node name="tf_laser_1" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /base_laser /hokuyo_link 10"/> -->

    <group if="$(arg useDummyLink)" >

    <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link chassis_dummy 10" />
    </group>
</launch>
